.main-banner {
   .banner {
      .slide {
         padding: 170px 0 350px;
         text-align: center;
         position: relative;

         @media screen and (max-width: 768px) {
            padding: 120px 0 220px;
         }

         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($color: #000000, $alpha: 0.27);
            width: 100%;
            height: 100%;
         }



         &.slide-one {
            background: url(../images/banner-image/1st.png) no-repeat center center/cover;
         }

         &.slide-two {
            background: url(../images/banner-image/2nd.png) no-repeat center center/cover;
         }

         &.slide-three {
            background: url(../images/banner-image/3rd.png) no-repeat center center/cover;
         }

         &.slide-properyview {
            background: url(../images/banner-image/vbv.png) no-repeat center center/cover;
         }

         .slide-text {
            position: relative;
            z-index: 99;
            color: #fff;

            p {
               font-size: 50px;
               font-weight: 400;

               @media screen and (max-width: 768px) {
                  font-size: 30px;
               }
            }

            h1 {
               font-size: 70px;
               font-weight: 400;
               padding: 20px 0;

               @media screen and (max-width: 768px) {
                  font-size: 45px;
               }
            }

            a {
               font-size: 14px;
               color: #fff;
               border: 1px solid #fff;
               border-radius: 3px;

               &:hover{
                  color: #fff;
                  background: rgb(159, 27, 25);
              }
            }
         }
      }


      .swiper-button-prev {
         left: 6%;
         color: #fff;
         z-index: 999;
      }

      .swiper-button-next {
         right: 6%;
         color: #fff;
         z-index: 999;
      }
   }
}