.footer {
    background: #040404;
    color: #fff;

    .main-footer {
        padding: 80px 0;

        h5 {
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 18px;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                background: #fff;
                height: 1px;
                width: 50px;
            }
        }

        a {
            font-weight: 300;
            font-size: 14px;
            color: #fff;
            transition: all 0.3s;


            &:hover{
                color: #4588f2;
            }
        }
        p{
            font-weight: 300;
            font-size: 14px;
        }

        ul {
            padding: 0;

            li {
                padding-bottom: 10px;
            }
        }

        .btn-blue {
            background: #4588f2;

        }

        .social-links {
            a {
                transition: all 0.3s;

                &:hover>i{
                    color: #4588f2;
                }
            }
        }
    }

    .footer-bottom{
        p{
            color: #515151;

            a{
                color: #4588f2;
            }
        }
    }
}