.property-check-out {
   padding: 50px 0;
   background: url(../images/bg.png);


   .section-header {
      padding-bottom: 40px;

      h2 {
         color: #880000;
         font-weight: 500;
         font-size: 32px;
         position: relative;
         z-index: 888;

         &::after {
            content: "OUR OFFERS ARE GREAT";
            position: absolute;
            width: 100%;
            color: $color-shadow-text;
            opacity: 0.3;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 60px;
            z-index: -1;

            @media screen and (max-width: 992px) {
               bottom: 20px;
               font-size: 40px;
            }
            @media screen and (max-width: 768px) {
               bottom: 20px;
               font-size: 25px;
            }
         }
      }

      .image {
         position: absolute;
         right: 0;
         bottom: 15px;
         z-index: 999999999;

         img {
            position: relative;
            z-index: 999;
         }
      }
   }

   .inner-content {

      .image {
         max-width: 130px;
         height: 96px;
      }

      .criteria-text {
         color: #3d3d55;
         font-weight: 600;
         font-size: 35px;

         @media(max-width: 1200px) {
            font-size: 25px;
         }
      }

      .btn-red {
         color: #ff0000;
         border: 2px solid #ff0000;
         min-width: 150px;
         padding: 15px 30px;
      }

      p {
         font-size: 22px;
         line-height: 65px;
         text-align: center;
         color: #3d3d55;
         font-weight: 600;

         @media(min-width: 1200px) {
            white-space: pre-line;
         }

         @media(max-width: 767px) {
            font-size: 16px;
            line-height: 35px;
         }
      }
   }
}