.start-searching{
   padding: 150px 0;
   background: url(../images/2nd.png) no-repeat center center/cover fixed;
   position: relative;

   &::before{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.27);
   }


   .inner-content{
      position: relative;
      z-index: 999;
      text-align: center;
      color: #fff;
      p{
         font-weight: 300;
         font-size: 16px;
      }
      
      h2{
         font-weight: 600;
         font-size: 30px;
         padding: 20px 0 30px;
      }
      
      .btn-red{         
         font-weight: 600;
         font-size: 14px;
         border-radius: 3px;
         background-color: rgb(159, 27, 25);      
         color: #fff;   
      }
   }
}